@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Argentina Tucuman<br />
    Leal Nicolas<br />
    Edad:19<br />
    Carrera: Programador Universitario UNT<br />
    <a href="https://www.linkedin.com/in/nicolas-leal-b8a030220/">Linkedin</a>
</address>
