@{
    ViewBag.Title = "Inicio";
}
<h1>Pagina de inicio para el proyecto de digitalers .net</h1>
<section>
    <div>
        <h2>Informacion de el sitio</h2>
        <p>
            Esta aplicacion web tiene como proposito simular el comportamiento de un almacen
            pudiendo saber la cantidad de articulos y comentarios de los mismos.
        </p>
    </div>
    <div>
        <h3>La documentacion de el sitio utilizada es: </h3>
        <ul style="list-style:none;">
            <li><a href="https://learn.microsoft.com/en-us/dotnet/framework/">.NET Framework</a></li>
            <li><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">Arquitectura</a></li>
            <li><a href="https://learn.microsoft.com/en-us/aspnet/web-pages/overview/getting-started/introducing-razor-syntax-c">Razor</a></li>
            <li><a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/">Boostrap</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a></li>
            <li><a href="https://learn.microsoft.com/en-us/sql/sql-server/?view=sql-server-ver16">Motor de base de datos utilizado</a></li>
            <li><a href="https://learn.microsoft.com/es-es/dotnet/framework/data/adonet/#:~:text=ADO.NET%20es%20un%20conjunto%20de%20clases%20que%20exponen,acceso%20a%20datos%20relacionales%2C%20XML%20y%20de%20aplicaciones.">ADO.NET</a></li>
            <li><a href="https://learn.microsoft.com/en-us/aspnet/entity-framework">Entity Framework</a></li>
        </ul>
    </div>
</section>